@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

:root{
    --book-color: #222222;
    --background-color: #FFFCE8;
    --gold-color: #DBBA00;
    --font-color: #6F58C9;
}
    
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    border-style: solid;
    border-color: tomato;
}

body{
    background-color: var(--background-color);
    font-family:'Mate SC', serif;
    color: var(--font-color);
    display: flex;
    justify-content: center;
}

.main{
    height: 100vh;
    width: 100vw;
    max-width: 900px;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    
}

.login{
    width: 100%;
    padding: 25px;
    grid-row: 1/span 1;
    display: flex;
    justify-content: flex-end;
}

.login > *{
    margin-left: 20px;
}

.header{
    grid-row: 2 / span 1;
    text-align: center;
}

.header h1{
    font-size: 5rem;
}

.add-button{
    grid-row: 3 / span 1;

    padding: 25px;
}

.card-container{
    grid-row: 4 / span 1;

    padding: 25px;
}

.book{
    border: none;
    border-radius: 5px;
    height: 210px;
    width: 140px;
    background:linear-gradient(to right,var(--book-color),#444);
    position: relative;
    z-index: 1;
    box-shadow: -4px -4px 5px #00000020
    ,4px 4px 5px #00000080
    ,inset 5px 0px 2px gray;
}



.book::after{
    content:'';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 135px;
    height: 6px;
    z-index: 2 ;
    background: white;
    border-radius: 5px 20px;
    
}