@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

:root{
    --book-color: #222222;
    --background-color: #FFFCE8;
    --gold-color: #DBBA00;
    --font-color: #4b4b4b;
}
    
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
   
}

body{
    background-color: var(--background-color);
    font-family:'Mate SC', serif;
    color: var(--font-color);
    display: flex;
    justify-content: center;
}

.main{
    height: 100vh;
    width: 100vw;
    max-width: 900px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    
}

.login{
    width: 100%;
    padding: 25px;
    grid-row: 1/span 1;
    display: flex;
    justify-content: flex-end;
}

.login > *{
    margin-left: 20px;
}

.header{
    grid-row: 2 / span 1;
    text-align: center;
}

.header h1{
    font-size: 5rem;
}

.card-container{
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    gap: 30px;
    justify-items: center;
    
    margin-top: 10vh;
    padding:0 25px;
}

.add-book button{
    background: inherit;
    border:none;
    cursor: pointer;
}

#add-book:hover{
    border: gray 2px solid;
    border-radius: 5px;
}

.book{
    border: none;
    border-radius: 5px;
    height: 210px;
    width: 140px;
    background:linear-gradient(to right,var(--book-color),#444);
    position: relative;
    z-index: 1;
    box-shadow: -4px -4px 5px #00000020
    ,4px 4px 5px #00000080
    ,inset 5px 0px 2px gray;
    overflow: hidden;
}

.book::after{
    content:'';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 135px;
    height: 6px;
    z-index: 2 ;
    background: white;
    border-radius: 5px 20px;   
}

.book:hover .info{
    transform: translateY(-140px);
    opacity: 1;
}

.book-body{
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 0.9rem;
    color: var(--gold-color);
    text-shadow: 0 0 3px #FFFFFF80;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    opacity: .8;

    background: white;
    margin-top: 10px;
    border-radius: 20% 20% 5px 5px;
    font-family: 'Arhivo Narrow',serif;
    font-size: .9rem;

    box-shadow: 2px 2px 3px #22222250,
    -2px -2px 3px #aaaaaa80;
    z-index: 1;
    transform: translateY(-20px);
    transition: .5s ease;
}

.info *{
    margin: 4px 0;
}

.info button, .login button{
    background-color: #04AA6D;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup{
    display: none;
}
.popup.open{
    display: block;
}

.inner{
    position:fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 4px;
    width: 400px;
    height: 500px;
    z-index: 20;

    display: flex;
    justify-content: center;
    align-items: center;
}
.inner form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type=text], input[type=number], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    margin-top: 16px; /* Add a top margin */
    margin-bottom: 5px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  .popup input[type=checkbox]{
      margin-top: 16px;
  }

  
  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin-top: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button:not(#add-book):hover{
    background-color: #45a049;
  }

  .outer{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #222222;
      opacity: 0.8;
      z-index: 10;
  }

  
